# Database files
db/*.sqlite3
db/*.sqlite3-journal

# Ruby dependency directories
/vendor/bundle

# Environment-specific files
.env
.env.*
.bundle

# Logs and temporary files
/log/*.log
/tmp/*
!/tmp/.keep

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDE and editor files
.idea/
.vscode/
*.swp
*~ 